/* your styles go here */
body {
    /* background-color: blue; */
}

.col-md-3 {
    /* width: 15%; */
    /* width: 25em; */
}

#sidebar {
    padding: 6.2222222222em 2.2222222222em 2.4444444444em 2.2222222222em;
}

.sidebar-heading a {
    font-size: 30px;
}

.sidebar-p {
    font-size: 16px;
}

.sidebar-heading {
    margin-bottom: 40px;
}

.copyright {
    margin-top: 50px;
}

/* If the screen size is 767 wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 767px) {
    .sidebar-offcanvas .sidebar-heading a{
        font-size: 18px;
    }
}

.logo {
     background: url("/img/logo.png") no-repeat;
     width: 200px;
     height: 100px;
     display: block;
     text-indent: -9999px;
}


/* #sidebar {
 margin: 0;
 padding: 0;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

.sidebar-content {
 flex-grow: 1;
 background-color: pink;
} */
/**
 * Noe
 */
@font-face {
  font-family: 'Noe Display';
  src: url('/fonts/noe-display-bold.woff2') format('woff2'),
  url('/fonts/noe-display-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noe Display';
  src: url('/fonts/noe-display-bold-italic.woff2') format('woff2'),
    url('/fonts/noe-display-bold-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


.content-column-content p, .content-column-content li {
    color: #555555;
    font-size: 18px;
}

.sidebar-menu li a {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
}

.box-masonry h4 a {
    color: #000;
    border-bottom: solid 1px transparent;
    font-size: 18px;
}
.box-masonry .box-masonry-text p {
    color: #555555;
    font-size: 16px;
}
/* body {
    font-family: "Source Sans Pro", "Roboto", Helvetica, Arial, sans-serif;
} */
.sidebar-menu li {
    margin-bottom: 15px;
}
